$size: 28px;

.line-controls-wrapper {
  position: relative;
  overflow-y: hidden;
  overflow-y: visible;
  align-self: flex-start;
  width: 500px;
  height: 100%;

  &.--empty {
    width: $size;
  }

  & > button {
    width: $size;
    height: $size;
    display: flex;
    padding: 0;
  }
}

.line-controls-form {
  width: 320px;
}

.line-control-button {
  position: absolute;
  left: 0;
  transition: all 0.05s;
}
