body {
  margin: 0;
  overflow: hidden;
}

$width: 100vw;
$height: 100svh;

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: opacity(0.5);
}

#app-wrapper {
  width: $width;
  height: $height;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.cm-theme {
  border: 1px solid red;
}

.cm-content {
  position: relative;
}

.cm-line {
  font-size: 20px;
}

.edit-section {
  display: flex;
  flex-grow: 1;
  flex-shrink: 2;
  max-height: calc(100% - 32px);

  &__selects {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
  }
}
